@import "colors";

.hrblack {
    background-color: $black;
    width: 80%;
    height: 1px;
    top: 10;
}

hr {
    background-color: $red;
    width: 100%;
    height: 1px;
    top: 10;
    opacity: 1;
}