/* !about us */


.AboutUs {
    .Logo {
        width: 100%;
    }

    .typed {
        font-size: 1.2rem;
        font-weight: normal;
        color: #000;
        margin-bottom: 1rem;
    }

    .typing {
        border-right: .15em solid orange;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        opacity: 0;
        animation: type2 2s steps(40, end);
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }

    @keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        90% {
            border-right: .15em solid rgb(109, 108, 108);
        }

        100% {
            opacity: 1;
            border: none;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
}


/* !about us End */