@import "utilities/colors";

/* !header */

.navclr {
	background: $primary;

	font-weight: 600;
	color: $white !important;

	.logosize {
		font-size: 1.5em;
	}
}

.logosize {
	font-weight: bold;
}

.hambtn {
	// font-size: 1.5em;
	color: $black;
}

.fa,
.fas {
	font-weight: 900;
	color: aliceblue;
	font-size: larger;
}

/* !header end */