@import "footer";
@import "header";
@import "colors";
@import "slider";
@import "product";
@import "account";
@import "myorder";
@import "userProfile";
@import "cartScreen";
@import "deliveryAddress";
@import "SignUp";

.errormsg {
    color: red;
    font-size: 12px;
    font-weight: bold;
}