@import "footer";
@import "header";
@import "colors";
@import "slider";
@import "product";
@import "account";
@import "myorder";
@import "userProfile";
@import "cartScreen";
@import "deliveryAddress";
@import "signUp";


.errormsg {
    color: $red;
    font-size: 12px;
    font-weight: bold;
}

hr {
    background-color: $red;

    width: 100%;
    height: 1px;
}