@import "utilities/elements";
@import "utilities/colors";
@import "footer";
@import "header";
@import "slider";
@import "product";
@import "account";
@import "myorder";
@import "userProfile";
@import "cartScreen";
@import "deliveryAddress";
@import "signUp";
@import "loginSignup";
@import "orderPlaced";
@import "aboutUs";


.errormsg {
    color: $red;
    font-size: 12px;
    font-weight: bold;
}